@import '../../functions';

.userBox {
  display: flex;
  align-items: center;
  color: #949EA8;
  font-size: rem(12px);
  font-weight: 500;
  position: relative;

  &.isOpen {
    .details {
      display: block;
    }
  }
}

.profilePicture {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #D9DCE1;
  text-transform: uppercase;
}

.name {
  display: none;
}

.detailsToggle {
  padding: 8px;

  div {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #D9DCE1 transparent transparent transparent;
  }
}

.details {
  display: none;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 5px 15px 0 rgba(black, 0.2);
  padding: 8px 16px;
  transform: translateY(100%);
  position: absolute;
  bottom: -17px;
  right: -10px;
  z-index: 200;

  svg {
    width: 28px;
    height: 12px;
    fill: white;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-100%);
  }

  button {
    width: 100%;
    display: block;
    line-height: 24px;
    white-space: nowrap;
    text-align: left;
    padding-right: 20px;
    margin: 8px 0;
    transition: all 300ms ease;

    &:hover,
    &:active,
    &:focus {
      color: #323C46;
    }
  }
}

@media screen and (min-width: 768px) {
  .userBox {
    font-size: rem(14px);
  }

  .profilePicture {
    width: 40px;
    height: 40px;
  }

  .name {
    display: inline-block;
    margin-left: 8px;
  }

  .details {
    width: calc(100% + 30px);
    right: -30px;

    svg {
      right: 30px;
    }
  }
}
