@import '../../functions';

.inputGroup {
  width: 100%;
  text-align: left;
  padding-top: 24px;
  margin-bottom: 16px;
  position: relative;

  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #DAE1E7;
    outline: none;
    line-height: 24px;
    padding: 0 0 8px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  input[type='password'] {
    letter-spacing: 3.4px;
  }

  > div {
    width: 100%;
  }

  &.isActive {
    .label {
      font-size: rem(14px);
      transform: translateY(-100%);
    }
  }

  &.isInvalid {
    input {
      border-color: #FF4081;
    }
  }
}

.label {
  font-size: rem(16px);
  line-height: 24px;
  color: #D2D6DA;
  position: absolute;
  transition: all 150ms ease;
  cursor: text;
  user-select: none;
  z-index: 100;
}

.showPassword {
  position: absolute;
  right: 0;
  top: 24px;

  svg {
    width: 24px;
    height: 24px;
    fill: #E1E4E6;
  }
}

.error {
  font-size: rem(14px);
  color: #FF4081;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: rem(18px);
  }
}

