@import '../../functions';

.btn {
  width: 100px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: 'Hind', sans-serif;
  font-size: rem(14px);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: all 300ms ease;
  padding: 6px 10px 3px;
  background-color: #22D486;
  color: white;

  &:hover,
  &:active,
  &:focus {
    background-color: #20BE78;
  }

  span {
    vertical-align: center;
  }

  &.loading {
    padding: 0;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.add {
  &:before,
  &:after {
    content: '';
    width: 14px;
    height: 2px;
    display: block;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translate(-50%, -50%);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.confirm {
  svg {
    width: 18px;
    height: 18px;
    fill: white;
  }
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  color: transparent;
  box-shadow: 0 6px 9px 0 rgba(black, 0.15);
  position: relative;
}

// colors
.edit {
  background-color: #D9DCE1;

  &:hover,
  &:active,
  &:focus {
    background-color: #C4C9D1;
  }
}

.delete {
  background-color: #FF4081;

  &:hover,
  &:active,
  &:focus {
    background-color: #E73370;
  }
}

.dark {
  background-color: #323C46;

  &:hover,
  &:active,
  &:focus {
    background-color: #555D5A;
  }
}

// sizes
.big {
  width: 240px;
  height: 57px;
  font-size: rem(16px);
  letter-spacing: 1px;
  padding: 12px 15px 9px;

  &.loading svg {
    width: 30px;
    height: 30px;
  }
}

// position
.fixedRightBottom {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

@media screen and (min-width: 768px) {
  .fixedRightBottom {
    bottom: 32px;
    right: 32px;
  }
}
