@import '../../functions';

.topBar {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #A9AFB5;
  text-transform: uppercase;
  font-size: rem(12px);
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 16px;
}

.eventsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.event {
  width: 100%;
  margin: 0 8px 16px;
}

.dashboard {
  .filter-mobile {
    position: relative;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #323C46 transparent transparent transparent;
      position: absolute;
      top: 45%;
      right: -15px;
      transform: translateY(-50%);
    }

    .select {
      background-color: transparent;
      border: 0;
      text-transform: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: #323C46;
      cursor: pointer;
      appearance: none;
      margin-left: 5px;
    }
  }

  .filter-desktop {
    display: none;
  }

  .sortButton {
    padding: 6px;

    svg {
      width: 17px;
      height: 17px;
      fill: #D9DCE1;
      transition: all 300ms ease;
    }

    &.isActive {
      svg {
        fill: #323C46;
      }
    }
  }
}

.createEvent {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.delete {
  color: #FF4081;
  text-transform: inherit;
  letter-spacing: inherit;
  font-weight: inherit;

  svg {
    width: 12px;
    height: 12px;
    fill: #FF4081;
  }

  span {
    display: none;
  }
}

.hideMobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .dashboard {
    .topBar {
      height: 105px;
      margin-top: 20px;
    }

    .filter-mobile {
      display: none;
    }

    .filter-desktop {
      display: block;

      .option {
        color: #A9AFB5;
        text-transform: uppercase;
        font-size: rem(12px);
        line-height: 24px;
        font-weight: 600;
        margin-right: 32px;
        transition: all 300ms ease;

        &.isActive {
          color: #323C46;
        }
      }
    }

    .event {
      width: calc((100% / 3) - 16px);
    }

    .eventsList-compact {
      .event {
        width: 100%;
      }
    }
  }

  .detailView .eventsList {
    flex-wrap: nowrap;

    .event {
      &:first-child {
        width: 65%;
        height: auto;
        flex-shrink: 0;
      }

      &:nth-child(2) {
        width: auto;
        flex-grow: 1;
      }
    }
  }

  .delete {
    span {
      display: inline-block;
      margin-left: 8px;
    }
  }

  .hideMobile {
    display: block;
  }
}
