@import '../../functions';

.eventBox {
  height: 100%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(black, 0.11);
  padding: 24px;
  transition: all 200ms ease;
}

.eventBox-compact {
  padding: 16px;
}

.eventBox-form {
  padding: 18px 16px 24px;
}

.title {
  font-weight: inherit;
  font-size: rem(22px);
  line-height: 30px;
  margin: 0;
}

.subtitle {
  font-size: rem(14px);
  color: #949EA8;
  margin: 7px 0 15px;
}

.buttonSpace {
  margin-top: 40px;
}

.overview {
  height: 100%;
  min-height: 248px;
  display: flex;
  flex-direction: column;
  position: relative;

  * {
    transition: all 200ms ease;
  }

  .date {
    font-size: rem(14px);
    line-height: 24px;
    color: #CACDD0;
    margin: 0 0 10px;
  }

  .author {
    font-size: rem(14px);
    color: #7D7878;
    margin: 0;
  }

  .description {
    max-width: 240px;
    font-size: rem(16px);
    color: #949EA8;
    margin: 30px 0 10px;
  }

  .attendees {
    font-size: rem(14px);
    color: #949EA8;
    margin-top: auto;
  }

  .actionButton {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.overview-compact {
  height: auto;
  min-height: initial;

  .author {
    display: none;
    order: 3;
  }

  .title {
    font-size: rem(18px);
    line-height: inherit;
    order: 1;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 8px;
    order: 2;
  }

  .date {
    margin: 0;
    order: 4;
  }

  .attendees {
    order: 5;
  }
}

.attendeesList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  .attendee {
    background-color: #D9DCE1;
    border: 2px solid #D9DCE1;
    border-radius: 100px;
    color: #949EA8;
    font-size: rem(13px);
    line-height: 20px;
    padding: 7px 16px 5px;
    margin-right: 8px;
    margin-bottom: 8px;

    &.isUser {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 1024px) {
  .eventBox {
    padding: 32px;
  }

  .eventBox-compact {
    padding: 20px 32px;
  }

  .title {
    font-size: rem(28px);
  }

  .subtitle {
    font-size: rem(18px);
  }

  .overview {
    min-height: 232px;

    .date {
      margin-bottom: 18px;
    }
  }

  .overview-compact {
    min-height: initial;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date,
    .attendees,
    .author {
      text-align: center;
      margin: 0;
    }

    .title {
      width: 250px;
    }

    .description {
      width: 240px;
      margin: 0;
    }

    .attendees {
      width: 80px;
    }

    .date {
      width: 170px;
    }

    .author {
      width: 100px;
      display: block;
    }

    .actionButton {
      position: static;
      order: 6;
    }
  }
}
