@import '../../functions';

.announce {
  display: block;
  color: #C9CED3;
  font-size: rem(14px);

  button {
    color: #949EA8;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 4px;
    transition: all 300ms ease;

    &:hover,
    &:active,
    &:focus {
      color: #323C46;
    }
  }
}
