@import '../../functions';

.container {
  min-height: 100vh;
  padding: 30px 25px 40px;
  position: relative;
}

.logo {
  width: 20px;
  height: 20px;
  fill: #323C46;
  position: absolute;
}

.sidePanel {
  display: none;
}

.main {
  padding-top: 90px;
}

.pageContent {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}

.accountAnnounce {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: stretch;
    padding: 0;
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &.trooperBg {
      background: url('../../static/img/trooperWaterMark.svg') -140px center no-repeat;
      background-size: 450px;
    }
  }

  .logo {
    left: 60px;
    top: 40px;
  }

  .accountAnnounce {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .pageContent {
    width: 480px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: stretch;
  }

  .logo {
    fill: white;
    left: 60px;
    top: 40px;
  }

  .sidePanel {
    width: (100% / 3);
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #323C46 center url('../../static/img/storm-troopers.png');
    background-size: cover;
    text-align: center;
  }

  .quote {
    font-family: "Playfair Display", sans-serif;
    font-size: rem(36px);
    font-weight: normal;
    line-height: (2 / 3) * 2;
    color: white;
    margin: 20px 0;
  }

  .delimiter {
    width: 12px;
    height: 2px;
    background-color: #1BE38B;
    margin: 0 auto;
  }

  .author {
    color: #949EA8;
    margin-top: 15px;
  }
}
