.container {
  min-height: 100vh;
  background-color: #F9F9FB;
  padding-bottom: 20px;

  &.isPadded {
    padding-bottom: 90px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px;
}

.logo {
  width: 30px;
  height: 30px;
  fill: #323C46;
  margin: 0;
}

.main {
  max-width: 1216px;
  padding: 0 8px;
  margin: 0 auto;
}

.addButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 40px;
  }

  .addButton {
    bottom: 32px;
    right: 32px;
  }
}
