@import '../../functions';

.title {
  font-weight: inherit;
  font-size: rem(22px);
  line-height: 48px;
  margin: 0;
}

.subtitle {
  font-size: rem(14px);
  line-height: 24px;
  color: #949EA8;
  margin: 0 0 40px;

  &.isInvalid {
    color: #FF4081;
  }
}

.forgotPswd {
  color: #CCD0D9;
  font-size: rem(14px);
  font-weight: inherit;
  margin: 8px 0;
  transition: all 300ms ease;

  &:hover,
  &:active,
  &:focus {
    color: #323C46;
  }
}

.accountAnnounce {
  padding-top: 8px;
}

.space {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: rem(28px);
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: rem(18px);
  }

  .forgotPswd {
    margin: 0;
  }

  .accountAnnounce {
    display: none;
  }
}
