<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Eventio</title>

        <link rel="apple-touch-icon" sizes="180x180" href="${require('./static/favicons/apple-touch-icon.png')}">
        <link rel="icon" type="image/png" sizes="32x32" href="${require('./static/favicons/favicon-32x32.png')}">
        <link rel="icon" type="image/png" sizes="16x16" href="${require('./static/favicons/favicon-16x16.png')}">
        <link rel="manifest" href="${require('./static/favicons/manifest.json')}">
        <link rel="shortcut icon" href="${require('./static/favicons/favicon.ico')}">
        <meta name="msapplication-config" content="${require('./static/favicons/browserconfig.xml')}">
        <meta name="theme-color" content="#f9f9fb">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
