:global{
  @import '../node_modules/normalize-scss/sass/normalize/import-now';
  @import '../node_modules/react-datepicker/src/stylesheets/datepicker.scss';

  $base-font-family: 'Hind';
  $base-font-size: 18px;
  $base-unit: 'rem';

  $fontPath: 'static/fonts';

  @font-face {
    font-family: 'Playfair Display';
    src: url('#{$fontPath}/PlayfairDisplay-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Hind';
    src: url('#{$fontPath}/Hind-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Hind';
    src: url('#{$fontPath}/Hind-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Hind';
    src: url('#{$fontPath}/Hind-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Hind';
    src: url('#{$fontPath}/Hind-SemiBold.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Hind';
    src: url('#{$fontPath}/Hind-Bold.ttf');
    font-weight: 700;
  }

  html {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #323C46;
    font-weight: 400;
  }

  body {
    margin: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }
}
